# {{ ansible_managed }}
# Default setup is given for MySQL with ruby1.9.
# Examples for PostgreSQL, SQLite3 and SQL Server can be found at the end.
# Line indentation must be 2 spaces (no tabs).

production:
  adapter: postgresql
  database: redmine_production
  host: db
  username: "{{ redmine_docker_db_username }}"
  password: "{{ redmine_docker_db_password }}"
  encoding: utf8

development:
  adapter: postgresql
  database: redmine_development
  host: localhost
  username: root
  password: ""
  encoding: utf8
